
.arrow{
    vertical-align: middle;
    width: 30px;
    display: block;
    position: relative;
    left: 90%;
    cursor: pointer;
}
.hide{
    display: none;
}

.rotate {
    transform: rotate(180deg);
}
